* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url(purple.jpg);
    background-size: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    text-align: center;
}
.container{
    background-color: aliceblue;
    margin-top: 250px;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
}
h1{
    color: black;
    font-weight: 500;
    padding: 10px;
}
p{
    margin: 10px;
    padding-bottom: 10px;
    color: black;
}
button{
    background: red;
    color: aliceblue;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
}
button:hover{
    background-color: black;
}
#result{
    margin-top: 20px;
}